/* Jednoduche zobrazenie na kiosku */

html, body {
    background-position: -190px;
}

.kiosk #obsah_wrap {
    padding-left: 0;
}

#vrch {
    height: 40px;
    margin-left: 100px;
} 

#vrch_logo {
    position: absolute;
    top: 5px;
    right: 10px;
    left: auto;
    bottom: auto;
}
 
#vrch_logo a {
    padding-left: 0;
    padding-right: 45px;
    background: #1A1A1A url("../images/logo-small.png") bottom right no-repeat;
    line-height: 32px;
}

#kiosk_vrch {
    padding-left: 15px;
    padding-top: 5px;
    line-height: 35px;
}

#sidebar {
    width: 100px;
    background: #1A1A1A;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar .button {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #999;
    display: table
}

#sidebar .button a {
    display: table-cell;
    vertical-align: middle;
}

#hlavny {
    margin-left: 100px;
}