
html, body {
    color: black;   
    background: white url("../images/light/bg-body.png") left top repeat-y;
}

#vrch {
    color: black;
    background: #D8EAFF;
}

#vrch_riadok1 ul li+li, #vrch_riadok1_vpravo ul li {
    border-left-color: #666;
}

#vrch_riadok1 a {
    color: black;
}

#vrch_riadok1 .username {
    color: #666;
}

#vrch_riadok2 a {
    color: black;
}

#rozvrh_taby a.selected, #rozvrh_taby a:hover {
    background: #C1DEFF;
}

#rozvrh_akcie {
    background: #C1DEFF;
}

#vrch_logo a {
    background: #D8EAFF url("../images/light/logo3.png") bottom left no-repeat;
    color: black;
}

.rozvrh_stav {
    color: #1F66B9;
}

#panel {
    color: black;
    background: #EAF4FF;
}

#panel .other_links a {
    color: black;
}

.panel_cast h2, .panel_cast_no_collapse h2 {
    background-color: #9FCCFF;
    color: black;
}

.jsactive .panel_cast h2 {
    background-image: url("../images/light/bg-collapse-group.png");
}

.panel_cast.collapsed h2 {
    background-image: url("../images/light/bg-expand-group.png");
}

.panel_cast h2 a, .panel_cast_no_collapse h2 {
    color: black;
}

#panel_schovat {
    background: #EAF4FF url("../images/light/bg-schovavac-panelu.png") top left no-repeat;
}

.panel_hidden #panel_schovat {
    background-image: url("../images/light/bg-zobrazovac-panelu.png");
}

#panel_cast_nastroje a {
    color: black;
}

ul.vysledky_hladania li {
    color: black;
    background: #C1DEFF;
}

.predmet_header {
    background: #9FCCFF;
    color: black;
}

.predmet_info table td.odkazy a {
    color: black;
}

.predmet_info table td.odkazy a:visited {
    color: #1F66B9;
}

.predmet table.vysledky {
    background: #C1DEFF;
    color: black;
}

.predmet table.vysledky tr+tr {
    border-top-color: #666;
}

#obsah_vrch {
    background: transparent url("../images/light/bg-obsah-top.png") top repeat-x;
}

#obsah_vrch_lavy {
    background: transparent url("../images/light/bg-obsah-top-left.png") top left no-repeat;
}

#obsah_in a {
    color: #2A8CFF;
}

#rozvrh tr.startTimeHeader {
    border-top-color: white;
}

#rozvrh th {
    background: #DDD;
    color: black;
    border-color: white;
}

#rozvrh td {
    background-color: #EEE;
    color: black;
}

#rozvrh td.startOfDayColumn {
    border-left-color: white;
}

#rozvrh td.endOfDayColumn {
    border-right-color: white;
}

#rozvrh td.hodina {
    background: #DDD;
    color: black;
    border-color: white;
}

#rozvrh td.hodina.highlighted {
    background: #C1DEFF;
}

#rozvrh td.hodina.selected {
    background: #FFFFFF;
}

#rozvrh td.hodina.highlighted.selected {
    background: #E0EEFF;
}

#rozvrh th.zaciatok {
    background: transparent;
}

#rozvrh td.hodina .miestnost a {
    color: black;
}

#rozvrh td.hodina a.subjectName {
    color: black;
}

.lesson-type-C .lesson-type-image {
    background: transparent url("../images/ikona-typ-c.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-C .typ {
    background-color: #800000;
    color: white;
}

.lesson-type-K .lesson-type-image {
    background: transparent url("../images/ikona-typ-k.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-K .typ  {
    background-color: #aa8800;
    color: white;
}

.lesson-type-L .lesson-type-image {
    background: transparent url("../images/ikona-typ-l.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-L .typ  {
    background-color: #338000;
    color: white;
}

.lesson-type-N .lesson-type-image {
    background: transparent url("../images/ikona-typ-n.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-N .typ  {
    background-color: #666666;
    color: white;
}

.lesson-type-P .lesson-type-image {
    background: transparent url("../images/ikona-typ-p.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-P .typ  {
    background-color: #3771c8;
    color: white;
}

.lesson-type-S .lesson-type-image {
    background: transparent url("../images/ikona-typ-s.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-S .typ  {
    background-color: #800066;
    color: white;
}

.lesson-type-V .lesson-type-image {
    background: transparent url("../images/ikona-typ-v.png") center center no-repeat;
}

#rozvrh td.hodina.lesson-type-V .typ  {
    background-color: #008066;
    color: white;
}

.flash_notice {
    background: #7f7;
    color: black;
}

.flash_error {
    background: #d55;
    color: black;
}

#obsah_in span.example {
    border-color: black;
}

#obsah_in table.vysledky_podrobneho_hladania th,
#obsah_in table.aktualne th {
    background: #DDD;
    color: black;
}

#obsah_in table.vysledky_podrobneho_hladania td,
#obsah_in table.aktualne td {
    color: black;
    background: #EEE;
}

#obsah_in table.vysledky_podrobneho_hladania tbody tr:hover td,
#obsah_in table.aktualne tbody tr:hover td {
    background: #DDD;
    color: black;
}

#obsah_in table.vysledky_podrobneho_hladania tbody tr:hover td a,
#obsah_in table.aktualne tbody tr:hover td a {
    color: #1F66B9;
}

#obsah_in div.footer {
    color: #555;
}

#obsah_in div.footer a {
    color: black;
}

#obsah_in div.footer .last_update {
    /*color: black;*/
}

#panel_throbber {
    background: transparent url("../images/light/loading-gray.gif") left center no-repeat;
}

/* Kiosk */
#vrch_logo a {
    color: black;
}

#sidebar .button a {
    color: black;
}

html.kiosk, body.kiosk {
    background-image: url("../images/light/bg-body-kiosk.png");
}

ul.quickswitch li a {
    background-color: black;
    color: white;
}

ul.quickswitch li.active a {
    color: black;
    background-color: #ccc;
}

#web_header ul.quickswitch li a {
    color: white;
}

#web_header ul.quickswitch li.active a {
    color: black;
}