/* IE <=7 hacks */

/* Hack, ktory ma rovnaky efekt ako display: inline-block */
#vrch_riadok1 ul,
#vrch_riadok1 ul li,
#vrch_riadok2 li {
    zoom: 1;
    display: inline;
}

ul.vysledky_hladania li.predmet {
    padding-right: 20px;
}