/* 

Tlacovy styl

*/

root { 
    display: block;
}

body {
    font-size: 10pt;
}

#vrch, #panel, #panel_schovat, #vrch2, #vrch_riadok1 {
    display: none;
}

.jshide {
    display: none;
}

#timetable_editor_command_bar {
    display: none;
}

#rozvrh input, #rozvrh label {
    display: none;
}

#rozvrh, #rozvrh td {
    border-collapse: collapse;
}

#rozvrh {
    border: 1px solid black;
}

#rozvrh tr.startTimeHeader {
    border-top: 1px solid black;
}

#rozvrh .pristupnost{
    display: none;
}

#rozvrh th {
    width: 20%;
}

#rozvrh th.zaciatok {
    width: auto;
}

#rozvrh td {
    vertical-align: top;
    height: 27pt;
    /* Hm, spodny border sa renderoval vo FF aj do nasledujucej bunky,
       ak sa v tabulke vyskytol rowspan. Nasledovne nastavenie vyzera, ze
       problem potlaci.
    */
    /*border-bottom: 1px solid transparent;*/
}

#rozvrh td.startOfDayColumn {
    border-left: 1px solid black;
}

#rozvrh td.endOfDayColumn {
    border-right: 1px solid black;
}

#rozvrh.precise td {
    height: 3pt;
}

#rozvrh td.cas {
    text-align: right;
    padding: 0.2em;
}

#rozvrh td.hodina {
    text-align: center;
    border: 1px solid black;
    border-top: 1px solid black;
    padding: 0.2em;
}

#rozvrh td.hodina .wrap {
    position: relative;
/*    height: 100%;*/
}

#rozvrh td.hodina .miestnost {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
}

#rozvrh td.hodina .typ {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

#rozvrh td.hodina .predmet_wrap {
    padding-top: 0.2em;
}

#rozvrh td.hodina .predmet {
    padding-top: 1em;
}

#rozvrh td.hodina a {
    color: black;
    text-decoration: none;
}

#rozvrh td.hodina .poznamka {
    font-style: italic;
}

abbr {
    text-decoration: none;
    border-bottom: none;
}

.flash_notice, .flash_error {
    display: none;
}

.timetableFooter {
    display: none;
}

.disclaimer2 {
    display: none;
}

.footer {
    font-size: 7pt;
}

.footer hr {
    display: none;
}

#timetable_full_url {
    display: none;
}

#obsah_in table.vysledky_podrobneho_hladania {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#obsah_in table.vysledky_podrobneho_hladania th {
    padding: 0.5em;
    font-weight: bold;
    border: 1px solid black;
}

#obsah_in table.vysledky_podrobneho_hladania td {
    padding: 0.3em;
    font-weight: normal;
    border: 1px solid black;
}

#rozvrhList {
    margin-top: 1ex;
}

.hidden {
    display: none;
}

.onNextPage {
    page-break-before: always;
}

#rozvrhListTogglerContainer {
    display: none;
}