/* 

Tlacovy styl

*/

root { 
    display: block;
}

#vrch, #panel, #panel_schovat, #vrch2, #vrch_riadok1 {
    display: none;
}

.jshide, .jshidden {
    display: none;
}

#rozvrh input, #rozvrh label {
    display: none;
}

#rozvrh, #rozvrh td {
    border-collapse: collapse;
}

#rozvrh {
    border: 1px solid black;
}

#rozvrh tr.startTimeHeader {
    border-top: 1px solid black;
}

#rozvrh .pristupnost{
    display: none;
}

#rozvrh th {
    width: 20%;
}

#rozvrh th.zaciatok {
    width: auto;
}

#rozvrh td {
    vertical-align: top;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 30pt;
}

#rozvrh.precise td {
    height: 3pt;
}

#rozvrh td.cas {
    text-align: right;
    padding: 0.2em;
}

#rozvrh td.hodina {
    text-align: center;
    border: 1px solid black;
    padding: 0.2em;
}

#rozvrh td.hodina .wrap {
    position: relative;
/*    height: 100%;*/
}

#rozvrh td.hodina .miestnost {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
}

#rozvrh td.hodina .typ {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
}

#rozvrh td.hodina .predmet_wrap {
    padding-top: 0.2em;
}

#rozvrh td.hodina .predmet {
    padding-top: 1em;
}

abbr {
    text-decoration: none;
    border-bottom: none;
}